html {
	font-size: 100px;
}

#left_nav {
	top: 0.64rem;
}
.layui-layout-admin .layui-header.nav-header {
	background-color: rgb(255,255,255);
	border-bottom: 0.04rem solid rgb(0,150,136);
}
.layui-layout-admin .layui-logo.nav-logo {
	color: rgb(0,0,0);
	font-size: 0.2rem;
}
.layui-nav .layui-nav-item .nav-a {
	height: 0.6rem;
	color: rgb(0,0,0);
	padding-left: 0.4rem;
}
#nav_log_out {
	padding-left: 0.2rem;
}
.layui-nav .layui-nav-item .nav-a > i.iconfont {
	font-size: 0.2rem;
	color: rgb(187,187,187);
	position: absolute;
	left: 0.16rem;
}
.layui-nav .layui-nav-item .nav-a:hover {
	color: rgb(0,150,136);
}


.layui-logo.nav-logo {
	position: relative;
}
#nav_slide_btn {
	font-size: 0.25rem;
	position: absolute;
    color: rgb(153,153,153);
    cursor: pointer;
}
#nav_slide_btn:hover {
	color: rgb(0,150,136);
}

.head-breadcrumb {
	display: block;
	height: 0.36rem;
	line-height: 0.36rem;
	padding: 0 0.15rem;
	color: rgb(153,153,153);
	background-color: rgb(242,242,242);
	border-bottom: 0.01rem solid rgb(226,226,226);
}
.head-breadcrumb > a {
	color: rgb(242,242,242);
}
.head-breadcrumb > a:hover {
	color: rgb(0,150,136)!important;
}
.head-breadcrumb > i.iconfont {
	font-size: 0.18rem;
	position: relative;
	top: 0.01rem;
	margin-right: 0.05rem;
}


.layui-nav .layui-nav-item .nav-a > i.iconfont.un-approve-icon {
	color: rgb(255,184,0);
}


.layui-table th {
	text-align: center;
}
.layui-table-body.layui-table-main > table > tbody {
	text-align: center;
}


.alipay {
	color: rgb(1,170,237);
}
.trade-success,
.wechatpay {
	color: rgb(95,184,120);
}
.trade-fail {
	color: rgb(255,87,34);
}


.layui-btn.layui-btn-warm.layui-btn-small.checking {
	cursor: default;
}


tr.text-align-center {
	text-align: center;
}


.layui-layout-admin .layui-body {
	bottom: 0;
}

.trade-message > div.layui-inline {
 	font-size: 0.16rem;
 	color: rgb(53,53,53);
 	margin-right: 0.2rem;
}
