@CHARSET "UTF-8";
/*系统后台首页*/
.statisticsWrap{
	margin: 20px 0;
}
.statisticsWrap:after{
	content: ' ';
	clear: both;
	overflow: hidden;
	display: block;
}
.statisticsWrap .col-3{
	float: left;
	width: 25%;
}
.statisticsWrap .sw-block{
	margin: 0 10px;
	border: 1px solid #ddd;
	border-top: 6px solid #ddd;
	padding: 15px;
}
.statisticsWrap .sw-block .s-title{
	font-size: 16px;
	color: #999;
}
.statisticsWrap .sw-block .s-content{
	font-size: 32px;
	text-align: right;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.statisticsWrap .sw-block .s-bottom{
	color: #666;
}
.statisticsWrap .yuan{
	margin-right: 4px;
}
.statisticsWrap .small{
	font-size: 14px;
	color: #999;
	margin-left: 5px;
}

/*服务器基本信息*/
.serverBasicWrap{
	margin-top: 30px;
}
.serverBasicWrap .sb-block{
	margin: 0 10px;
	border:1px solid #ddd;
}
.serverBasicWrap .sb-block .s-title{
	background-color: #f7f7f7;
	border-bottom: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	font-size: 15px;
}
.serverBasicWrap .sb-block .s-content{
	padding: 5px 15px;
}
.serverBasicWrap table tr>td:nth-child(2n+1){
	width: 20%;
}
.serverBasicWrap table tr>td:nth-child(2n){
	width: 30%;
}